.logo {
    max-width: 25%;
    max-height: 25%;
}
.container {
  text-align: center;
}

h1, h2 {
  background-image: linear-gradient(90deg, #4d78ef, #709df7, #7ef47d);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}
