* {
  padding: 0;
  margin: 0;
  border-width: 0;
  object-fit: contain;
}

#quickAccessBar > button {
  position: absolute;
  bottom: 80px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 1001;
  border-width: 0;
  background-color: white;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.06);
}
#quickAccessBar img {
  width: 60%;
  height: 60%;
}
#filterBtn {
  right: 170px;
}

#nearbyBtn {
  right: 90px;
}

#reportBtn {
  right: 10px;
}

#filterBtn:hover,
#nearbyBtn:hover,
#reportBtn:hover {
  filter: brightness(95%);
}

.markerPopup {
  width: 150px;
  min-height: 100px;
}

.markerImg {
  max-width: 140px;
  max-height: 140px;
  object-fit: contain;
  padding: 0px;
  background-color: rgb(222, 222, 222);
  border-radius: 8px;
}

.markerLikeBtn,
.markerDislikeBtn {
  background-color: rgba(0, 0, 0, 0);
  margin-right: 12px;
}

.markerLikeBtn > img,
.markerDislikeBtn > img {
  width: 20px;
  height: 20px;
}

.markerLikeBtn > img:hover,
.markerDislikeBtn > img:hover {
  filter: brightness(120%);
}

.markerLikeCount,
.markerDislikeCount {
  position: relative;
  left: -10px;
}
.markerPar {
  position: relative;
  left: -5px;
  width: 160px;
}
.markerExtraInfo {
  position: relative;
  left: -5px;
  width: 160px;
  color: rgb(113, 0, 173);
}
.markerSeeReviewsBtn {
  position: relative;
  left: -5px;
  color: rgb(0, 64, 255);
  background-color: rgba(0, 0, 0, 0);
}

#reviewsMenu {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
  z-index: 1000;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.06);
}
#reviewsMenu > * {
  padding: 0;
  margin: 16px;
}
#reviewsTextArea {
  width: 80%;
  min-height: 100px;
  max-height: 300px;
  padding: 10px;
  border-color: rgb(55, 55, 55);
  border-width: 1px;
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  resize: vertical;
}
#reviewsSubmitBtn {
  margin-top: 0;
  padding: 8px;
  width: 80px;
  border-radius: 8px;
  color: white;
  background-color: rgb(0, 98, 255);
}
#reviewsContent {
  font-size: 16px;
}
#reviewsCloseBtn {
  position: fixed;
  margin: 0;
  top: 4px;
  right: 12px;
  font-size: 30px;
  z-index: 1500;
  color: rgb(127, 127, 127);
  background-color: rgba(0, 0, 0, 0);
}
